<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link href="{% static "https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" %}" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome To DJango Example</h1><hr>
            <h2>My name is {{name}} and I am {{age}} years old</h2>
            <h3>Current time is : {{timestamp}}</h3>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error laboriosam inventore odit rerum tenetur necessitatibus, ipsa quis, repellat maxime voluptas itaque delectus impedit voluptatum enim pariatur. Distinctio itaque nihil voluptatum.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, culpa.</p>
        </div>
    </div>
</body>
</html>