<!DOCTYPE html>
{% extends 'testApp/base.html' %}
{% block base_block %}
    <h2>View Customized Book Details here...</h2><br>
    <h4 class="left">{{records}} records available...</h4>
    {% if list_of_books %}
        <table class="table table-striped">
            <thead>
                <th>Title</th>
                <th>Author</th>
                <th>Page</th>
                <th>Price</th>
                <th colspan="2" style="text-align: center;">Actions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                <!-- <th>Delete</th> -->
            </thead>
            {% for book in list_of_books %}
                <tbody>
                    <tr>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.pages}}</td>
                        <td>{{book.price}}</td>
                        <td>Update</td>
                        <td>Delete</td>
                        <!-- <td> <a href="/update/{{emp.id}}" class="btn btn-info">Update</a> </td>
                        <td> <a href="/delete/{{emp.id}}" class="btn btn-warning">Delete</a> </td> -->
                    </tr>
                </tbody>
            {% endfor %}
        </table>
        <hr>
        <a href="/create" class="btn btn-primary">Add Book</a>
    {% endif %}
{% endblock %}