<!DOCTYPE html>
{% extends 'testApp/base.html' %}
{% block base_block %}
    <h1>Welcome to Srikar Exams</h1>
    <h2>Rules:</h2>
    <ul>
        <li>You can write only one exam per day</li>
        <li>You can write only one exam per day</li>
        <li>You can write only one exam per day</li>
        <li>You can write only one exam per day</li>
        <li>You can write only one exam per day</li>
        <li>You can write only one exam per day</li>
        <li>You can write only one exam per day</li>
        <li>You can write only one exam per day</li>
        <li>You can write only one exam per day</li>
    </ul>
{% endblock %}