<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hello</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
    </head>
    <body>
        <div class="container" style="margin: auto;">
            <h2>This is DJango Template</h2>
            <h3>This template is developed by {{first_name}} {{last_name}}</h3>
            <hr style="width: 60%;">
            <h4>Timestamp: {{timestamp}}</h4>
        </div>
    </body>
</html>