<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        .hello{
            margin:100px;
        }
        h1{
            color:blueviolet;
        }
    </style>
</head>
<body>
    <div class="hello container jumbotron" align="center">
        <h1>Welcome to Cookie Project {{name}}</h1>
        <form action="/results">
            <label for="gf">Enter GF: </label>
            <input type="text" name="gf" id="gf">
            <input type="submit" value="Enter GF">
            <hr>
        </form>
    </div>
</body>
</html>